.clothing-section {
  align-content: space-around;
  border-radius: 10px;
}

.clothing-section__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 24.8px;
  color: #333333;

  height: 25px;
  text-align: center;
  gap: 20px;
  display: inline;
  margin-right: 20px;
}

.clothing-section__add-button {
  font-size: 20px;
  height: 25px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
  line-height: 24.8px;
  display: inline;
  opacity: 60%;
}

.clothing-section__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.clothing-section__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
