.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 28px;
  background-color: #f3f3f3;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-right: 10px;
}

.header__logo {
  height: 40px;
  margin-right: 24px;
}

.header__add-clothes-button {
  padding: 10px 20px;
  background-color: none;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 20px 0px auto;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  weight: 700;
}

.header__user {
  display: flex;
  gap: 12px;
}

.header__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24.8px;
  margin-right: 10px;
  margin: 0;
  padding: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px;
}
