.profile {
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.profile__content {
  flex-grow: 1;
  margin-left: 20px;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.profile__add-button {
  background: none;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}
