.main {
  padding: 20px;
}

.cards {
  margin-top: 20px;
}

.cards__text {
  margin-bottom: 20px;
}

.card-section__items {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

@media (max-width: 1200px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
